

.chat-bubble {
    
    -fx-background-color:  #99CCFF;
    -fx-background-insets: 0,1;
    -fx-padding: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0,0);
    -fx-background-radius: 5;
    
}

.username{
	-fx-text-fill: #99CCFF;
	-fx-font-size:10;
	-fx-font-weight:bold;
}